.Contact-Container {
  width: 100vw;
  overflow-x: hidden;

  text-align: left;
  font-family: "Red Hat Display", sans-serif;
}

.Contact-info {
  width: 80vw;
  padding: 8rem 10vw 4rem 10vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: rgb(51, 50, 50);
}

.Contact-1 {
  padding: 2rem 0;

  display: grid;
  gap: 1.5rem;
}

.Contact-Title {
  color: #60468c;
  font-weight: 900;
  font-size: 50px;
}

.Contact-Description {
  font-weight: 400;
  font-size: 30px;
  line-height: 2rem;
}

.Contact-2 {
  display: grid;
  gap: 1rem;

  font-size: 20px;
}

.Contact-check {
  font-weight: 500;
}

.Contact-Socials {
  width: 100%;
  padding: 0 1rem;

  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.Contact-Socials > div {
  padding: 0.3rem 0;
}

.Contact-Socials > div > a {
  display: flex;
}

.Contact-Socials > div > a > p {
  padding-left: 0.75rem;
}

.Contact-form-container {
  width: 80vw;
  padding: 4rem 10vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #60468c;
  color: rgb(255, 253, 244);
}

.Contact-form-title {
  font-size: x-large;
  width: 50%;
  text-align: center;
}

.Contact-form {
  max-width: 50%;
  flex-grow: 1;
}

input,
textarea {
  min-height: 25px;
  margin-top: 10px;
  padding: 0.5rem 1rem;

  border-radius: 25px;
  border-width: 0;

  font-family: "Red Hat Display", sans-serif;
}

textarea {
  padding: 1rem 1rem;
  min-height: 80px;
  resize: vertical;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 0.5% 0%;
  width: 100%;
}

.first-last-inputs {
  display: flex;
  margin-left: 2px;
}

.first-last-inputs .input-container {
  width: 50%;
}

.firstName {
  margin-right: 0.65%;
}

.lastName {
  margin-left: 0.65%;
}

.send-button {
  width: 100%;
  padding: 0.75rem 0.5rem;
  margin-top: 0.75rem;

  border-radius: 25px;
  cursor: pointer;

  background-color: #ffffff;
  color: #9d62cc;
  font-weight: 800;

  transition: 0.1s ease-in-out;
}

.send-button:hover {
  background-color: #9d62cc;
  color: #ffffff;
}

.send-button:active {
  background-color: #621c9b;
  color: #d096ff;
}

.body {
  min-height: 200px;
}

/* .Contact-insta {
  padding-left: 2%;
  padding-right: 4%;
} */

@media screen and (max-width: 1000px) {
  .Contact-info {
    width: 90vw;
    padding: 8rem 5vw 4rem 5vw;
  }

  .Contact-Socials {
    display: grid;
    gap: 0.5rem;
  }

  .Contact-form-container {
    flex-direction: column;
    align-items: inherit;
  }

  .Contact-form-title {
    width: 100%;
    padding-bottom: 2rem;

    text-align: start;
  }

  .Contact-form {
    max-width: 100%;
  }

  /* .Contact-Container {
    flex-wrap: wrap;
    display: flex;
  }

  .Contact-info {
    flex-direction: column;
  }

  .Contact-Socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .Contact-2 {
    align-self: center;
    padding-left: 0;
  }

  .Contact-Container {
    margin-top: 10%;
  }

  .Contact-2 {
    padding-top: 10%;
    font-size: 15px;
    align-self: center;
  }

  .Contact-insta {
    padding: 0;
  }

  .Contact-Title {
    font-size: 40px;
  }

  .Contact-Description {
    font-size: 20px;
    line-height: 2rem;
  }

  .Contact-form-title {
    font-size: large;
  }

  .first-last-inputs {
    display: block;
  }

  .firstName,
  .lastName {
    margin: 0px;
  } */
}

@media screen and (max-width: 800px) {
}

/* .Contact-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .Contact-logo {
    animation: Contact-logo-spin infinite 20s linear;
  }
} */

/* .Contact-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
} */

/*  .Contact-link {
  color: #61dafb;
} */

/*  @keyframes Contact-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
