.Contact-Container {
  text-align: left;
  font-family: 'Red Hat Display', sans-serif;
  color: #fafafa;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  padding:5% 7%;
}

.Contact-1 {
  font-size: 60px;
}

.Contact-Title {
 display: inline-block;
 outline: 2px solid gray;
  padding-top: 50px;
  padding-bottom: 50px;
 font-weight:900;
 min-width: 400px;
}

.Contact-Description {
  outline: 2px solid gray;
  font-weight: 500;
  padding-right:5%;
}

.Contact-2 {
  font-size: 25px;
  padding-left: 15%;
  padding-top: 3%;
}

.Contact-Stater {
  outline: 2px solid gray;
}

.Contact-Email {
  outline: 2px solid gray;
}

.Contact-check {
  outline: 2px solid gray;
  padding-top: 2%;
}

.Contact-Socials {
  outline: 2px solid gray;
  display: inline-flex;
  text-align: center;
  padding-top: 10%;
}

.Contact-insta {
  padding-left: 2%;
  padding-right: 4%;
}

@media screen and (max-width:1300px){
  .Contact-Container {
      flex-wrap: wrap;
      display: flex;
    }
    .Contact-Socials {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap:1rem;
    }
     .Contact-2 {
       align-self: center;
        padding-left: 0;
     }
}

@media screen and (max-width: 800px) {
  .Contact-Container{
    margin-top:10%;
  }
  .Contact-2{
    padding-top: 10%;
    font-size: 15px;
    align-self: center;
  }

  .Contact-insta{
    padding:0;
  }

  .Contact-Title{
    font-size: 40px;
    min-width: 300px;
  }

  .Contact-Description{
    font-size: 25px;
  }
}

/* .Contact-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .Contact-logo {
    animation: Contact-logo-spin infinite 20s linear;
  }
} */

/* .Contact-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
} */

/*  .Contact-link {
  color: #61dafb;
} */

/*  @keyframes Contact-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
