
.home-container {
  font-family: 'Poppins', sans-serif;
}

.home-hero {
  padding:250px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10%;
  width:100vw;
}

.home-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading{
    font-size: 80px;
    letter-spacing: 0.03em;
    line-height: 90px;
    color: #000000;
}

.subheading{
  margin-top:10px;
  border:1px solid black;
  border-radius: 15px;
  width:100px;
  text-align: center;
  padding:15px;
  transition:0.2s;
}

.subheading a{
  text-decoration: none;
  transition: 0.2s;
}

.subheading:hover{
    border: 1px solid rgb(133, 133, 133);
}

.subheading a:hover {
    color:rgb(133, 133, 133);
}

.home-pic img{
  width: 315px;
}

.home-pillars{
  background-color: white;
  padding:150px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10%;
  max-width: 100%;
}

.pillar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pillar-title{
  font-size:24px;
  width: 200px;
  text-align: center;
  padding: 10px 0px;
}

.pillar-img img{
  width:70px;
}

.pillar-descript{
  text-align: center;
  width:70%;

  word-wrap: break-word;
}

.home-mission{
  background: #00296B;
  padding:150px 300px;
  color:white;
  font-size: 40px;
  line-height: 60px;
  max-width: 100%;

}

.mission-title{
  font-size: 60px;
}

.mission-descript{
  width:1000px;
}
