
.home-container {
  font-family: 'Poppins', sans-serif;
}

.home-hero {
  padding:250px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10%;
}

.home-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home-heading{
  font-size: 80px;
  letter-spacing: 0.03em;
  line-height: 90px;
  color: #000000;
}

.subheading{
  margin-top:10px;
  border:1px solid black;
  border-radius: 15px;
  width:100px;
  text-align: center;
  padding:15px;
  transition:0.2s;
}

.subheading a{
  text-decoration: none;
  transition: 0.2s;
}

.subheading:hover{
    border: 1px solid rgb(133, 133, 133);
}

.subheading a:hover {
    color:rgb(133, 133, 133);
}

.home-pic img{
  width: 315px;
}

.home-pillars{
  background-color: white;
  padding:150px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5%;
}

.pillar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30%;
  height:350px;
  border-radius:15px;
}

#pillar-1{
    box-shadow: #df88acb1 0px 3px 8px;
}

#pillar-2 {
  box-shadow: #88abdfb1 0px 3px 8px;
}

#pillar-3 {
  box-shadow: #dfcf88b1 0px 3px 8px;
}

.pillar-title{
  font-size:24px;
  width: 200px;
  text-align: center;
  padding: 10px 0px;
}

.pillar-img img{
  width:70px;
}

.pillar-descript{
  text-align: center;
  width: 90%;
}

.home-mission{
  background: #00296B;
  padding:150px 15%;
  color:white;
  font-size: 40px;
  line-height: 60px;
}

.mission-title{
  font-size: 60px;
}

@media screen and (max-width:1100px) {
  .home-hero{
      gap: 5%;
  }
.home-pillars {
    background-color: white;
    padding: 150px 5%;
    gap:1%;
  }
    .pillar-title {
      font-size: 20px;
    }
  .pillar-container {
    max-width:300px;
  }

  .home-heading {
    font-size: 50px;
    letter-spacing: 0.03em;
    line-height: 50px;
    color: #000000;
  }
    .mission-title {
      font-size: 50px;
    }
    .mission-descript{
      font-size: 35px;
    }
}
