.upcoming-event-container{
    background-color:#F8F7F3;
    width:175px;
    height:155px;
    border-radius: 15px;
    padding:50px 35px;
    margin-top:30px;
    box-shadow: #83827f 0px 3px 8px;
}

.up-event-name{
    font-weight: bold;
    font-size: 17px;
}

.up-event-date{
    font-weight: bold;
    font-size: 12px;;
}

.up-event-descript{
    padding-top:10px;
    font-size: 12px;
}