nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: #f4f4f4;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7vw;

  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.03em;
}

img {
  width: 75px;
}

a {
  text-decoration: none;
  color: black;
}

.logo:hover,
li:hover {
  opacity: 50%;
  transition: 0.3s;
}

ul {
  display: flex;
  gap: 2rem;
}

li {
  list-style: none;
}

.navbar {
  width: 100%;
}
