img{
    width:75px;
    margin-left:200px;
}

.logo{
    margin-left:100px;
}

.logo:hover{
    opacity: 50%;
    transition:0.3s
}

li{
    list-style: none;
}
ul{
    display:flex;
    gap:2rem;
    margin-right:300px;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:gray;
    transition: 0.3s;
}

.links-container{
    margin-right:100px;
}

.navbar-container{
    padding-top:50px;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    justify-content: space-between;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-decoration: none;
    align-items:center;
    position: fixed;
    background-color: rgb(255, 253, 244);
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 835px) {
    img{
        padding-left:30%;
    }
    ul{
        font-size: 12px;
        gap:0.5rem;
        margin-right: 0;
    }
    .navbar-container{
        padding-top: 10%;
        padding-right: 5%;
    }

}