.join-container {
  font-family: "Poppins", sans-serif;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.join-top-container {
  display: flex;
  flex-direction: column;
}

.join-title {
  padding: 200px 12% 50px 12%;
  font-size: 50px;
}

.join-btn-div {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  font-size: 30px;
}

.join-btn {
  font-size: 15px;
  padding:20px;
  border-radius: 15px;
  border: none;
  background-color: #3f66b1;
  color:white;
  max-width:150px;
  transition: 0.3s;
}

.join-btn:hover{
    background-color: #5385e4;
    cursor: pointer;
}

.team-header {
  align-self: center;
  font-size: 30px;
}

.team-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:1rem;
  padding-top:5%;
}

.team {
  background-color: #fac144;
  padding: 30px 50px;
  width:100px;
  margin-top: 7px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}

.join-top-text {
  display: flex;
  flex-direction: column;
  padding: 7% 12%;
  align-items: center;
  background-color: white;
}
.join-bottom-container {
  background-color: #3f66b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:5%;
}
.dev-timeline-title {
  color: white;
  margin-bottom: 5%;
  font-size: 30px;
}
