.join-container {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  min-height: 100vh;
}
.join-top-container {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  height: 45vh;
}
.join-bottom-container {
  background-color: #3f66b1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.join-title {
  padding: 200px 150px 50px 150px;
  font-size: 40px;
  align-self: flex-start;
}

.dev-timeline-title {
  padding-top: 5%;
  color: white;
  margin-bottom: 5%;
}
