.info{
    text-align: end;
}

.footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    padding:50px 100px;
    color: rgb(51, 50, 50);
}

.socials{
    display: flex;
    gap:5px;
}
