.events {
  font-family: 'Poppins', sans-serif;
}

.events-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15%;
  padding:250px 12% 200px 12%;
}

.events-title {
  font-size: 60px;
}

.events-description {
  padding-top:10px;
  font-size: 26px;
  width: 50%;
}

.upcoming-events-container{
  background-color: #F5CA6C;
  padding:100px 15%;
}

.upcoming-events{
  display: flex;
  gap:5%;
  justify-content: center;

}

.up-event-title{
  font-weight: bold;
  color:white;
  font-size: 20px;
}

.carousel {
    z-index: 0;
}
.carousel {
    z-index: 0;
}

.event-name {
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bolder;
  color: #9d62cc;
}

.event-desc {
  line-height: 1.25rem;
  font-weight: 600;
}

.event-time {
  margin-top: 10px;

  line-height: 1.8;
  font-weight: 600;
  font-size: 15px;
}

.event-link {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 600;
  color: #9d62cc;
}

.events-carousel {
display: flex;
justify-content: center;
text-align: center;
padding:0px 12%;
}

.paper {
  padding: 5%;
}

.bold-text {
  font-weight: 1500;
}

@media screen and (max-width: 1200px) {
  .upcoming-events-container {
      background-color: #F5CA6C;
      padding: 100px 9%;
  }

}
