.events {
  font-family: 'Poppins', sans-serif;
  padding:0px 12%;
}

.events-top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:200px 0px 50px 0px;
}

.events-title {
  font-size: 50px;
}

.events-description {
  padding-top:10px;
  font-size: 26px;
  width: 50%;

}
.carousel {
    z-index: 0;
}
.carousel {
    z-index: 0;
}

.event-name {
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bolder;
  color: #9d62cc;
}

.event-desc {
  line-height: 1.25rem;
  font-weight: 600;
}

.event-time {
  margin-top: 10px;

  line-height: 1.8;
  font-weight: 600;
  font-size: 15px;
}

.event-link {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 600;
  color: #9d62cc;
}

.events-carousel {
display: flex;
justify-content: center;
text-align: center;
}

.paper {
  padding: 5%;
}

.bold-text {
  font-weight: 1500;
}

@media screen and (max-width: 835px) {
  .events-top-container {
    padding: 10rem 5vw 5rem 5vw;
  }

  .events {
    font-size: 50px;
  }
  .events-description {
    width: 90%;
  }

  .events-carousel {
    padding: 5% 5%;
  }
}
