.aboutus {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
}

.about-top-container {
  display: flex;
  flex-direction: column;
  background-color: #60468c;
  padding: 250px 350px 200px 350px;
}

.aboutus-title {
  color: rgb(255, 253, 244);
  padding-top: 50px;
  font-weight: 900;
  min-width: 400px;
  font-size: 80px;
  padding-bottom: 50px;
}

.aboutus-description {
  font-weight: 500;
  padding-right: 5%;
  font-size: 30px;
  width: 60%;
  line-height: 3rem;
  color: rgb(255, 253, 244);
}

.headline {
  align-self: center;
  font-size: 45px;
  letter-spacing: 0.03rem;
  font-weight: 700;
  width: 650px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #60468c;
  border-bottom: 1px solid grey;
}

.team-title {
  font-weight: 700;
  font-size: 45px;
  align-self: center;
  color: #60468c;
  margin-bottom: 3rem;
}

.team-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  color: #393939;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  color: #393939;
  font-size: large;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.profile-pic {
  width: max-content;
  height: max-content;
  scale: 2;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.member-description {
  display: grid;
  place-items: center;
}

.member-description > h1 {
  font-size: 1.125rem;
  font-weight: 600;
  padding-bottom: 0.35rem;
}

.member-description > h3 {
  font-size: 1rem;
  font-weight: 400;
}

.member-socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
}

.member-social {
  padding: 0.2rem 0.25rem;
  min-width: fit-content;
  opacity: 40%;
  scale: 85%;
}

.member-social:hover {
  opacity: 1;
}

@media screen and (max-width: 1360px) {
  .about-info {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    font-size: 14px;
  }

  .about-left {
    line-height: 1.5rem;
    height: auto;
    min-width: 150px;
    padding: 7% 15%;
  }

  .about-right {
    margin-top: 10%;
    line-height: 1.5rem;
    height: auto;
    padding: 7% 15%;
    min-width: 150px;
  }
}

@media screen and (max-width: 830px) {
  .headline {
    font-size: 30px;
    width: 80%;
  }
}

:root {
  --black: rgba(0, 0, 0, 1);
  --alto: rgba(217, 217, 217, 1);

  --font-size-m: 12px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 36px;
  --font-size-xxxxl: 64px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Inter:400");

.screen a {
  display: contents;
  text-decoration: none;
}

.sponsorships-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  font-family: 'Red Hat Display', sans-serif;
  padding: 0% 50px 0% 50px;
}

.sponsorships {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 104px 357.0px;
  width: 1416px;
  margin: 100px;

}

.title--ye {
  color: #60468C;
  font-family: 'Red Hat Display';
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  font-weight: 700;
}

.paragraph {
  color: rgb(67, 67, 67);
  font-family: 'Red Hat Display';
  font-size: x-large;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 19.0px;
  min-height: 141px;
  text-align: center;
  line-height: 1.8rem;
}

.divider {
  display: flex;
  align-self: flex-end;
  height: 4px;
  margin-top: 38px;
  width: 681px;
}

.title-2 {
  color: #60468C;
  font-family: 'Red Hat Display';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 10.0px;
  margin-top: 32px;
  min-height: 72px;
}

.paragraph-2 {
  color: rgb(67, 67, 67);
  font-family: 'Red Hat Display';
  font-size: large;
  line-height: 1.9rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 10.0px;
  min-height: 15px;
  text-align: center;
}

.company-container {
  align-items: flex-end;
  display: flex;
  height: 52px;
  margin-top: 82px;
  min-width: 306px;
}

.company3 {
  background-color: var(--alto);
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.company2 {
  align-self: flex-start;
  display: flex;
  background-color: var(--alto);
  border-radius: 25px;
  height: 50px;
  margin-left: 89px;
  width: 50px;
}

.company1 {
  background-color: var(--alto);
  border-radius: 25px;
  height: 50px;
  margin-left: 67px;
  width: 50px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 192px;
  margin-left: 38.0px;
  margin-top: 49px;
  min-width: 614px;
}

.seeking-partnership-with-us {
  align-self: flex-end;
  display: flex;
  color: #60468C;
  font-family: 'Red Hat Display';
  font-size: xx-large;
  font-weight: 600;
  letter-spacing: 0;
  min-height: 144px;
  text-align: center;
}

.paragraphs-3 {
  color: rgb(67, 67, 67);
  font-family: var(--font-family-inter);
  font-size: x-large;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.9rem;
  margin-left: 61px;
  min-height: 93px;
}

h1 {
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1360px) {
    .about-info {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 100px;
        font-size: 14px;
    }

    .about-left {
        line-height: 1.5rem;
        height: auto;
        min-width: 150px;
        padding: 7% 15%;
    }

    .about-right {
        margin-top: 10%;
        line-height: 1.5rem;
        height: auto;
        padding: 7% 15%;
        min-width: 150px;
    }
}

@media screen and (max-width:830px) {
    .headline {
        font-size: 30px;
        width: 80%;
    }
}