.aboutus {
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
}

.about-top-container {
  padding:275px 12%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 35px;

  gap:8rem;
}

.about-item {
  width: 55%;
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-item2 {
  width: 55%;
  align-self: flex-end;
  display: flex;

  gap:30px;
  align-items: center;
}

.about-top-container img {
  width: 85px;
}

.about-what-container {
  background-color: white;

  padding:100px 12%; 
}

.about-what-title {
  font-size: 50px;
  margin-bottom: 50px;
}


  padding:50px 8%;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.about-what-item {
  display: flex;
  gap: 5rem;
}

.about-what-item img {
  width: 80px;
}

.about-what-info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 55%;
  line-height: 30px;
}

.about-what-btn {
  border: 1px solid black;
  border-radius: 20px;
  width: 125px;
  text-align: center;
  padding: 5px 0px;
  transition: 0.3s;
}

.about-what-btn:hover {
  border: 1px solid rgb(139, 139, 139);
}

.about-what-btn a {
  transition: 0.3s;
}

.about-what-btn a:hover {
  color: rgb(139, 139, 139);
}


.company-container{
  background-color: #3F66B1;
  padding:100px 12%;
  display: flex;
  flex-direction: column;
  gap:3rem;
  color:white;
}

.company-title{
  font-size: 50px;
}

.company-portfolio-btn{
  border:1px solid white;
  padding:15px;
  width:100px;
  text-align: center;
  border-radius: 15px;
  transition: 0.2s;
}

.company-portfolio-btn:hover{
  border: 1px solid rgb(208, 208, 208);
}

.company-portfolio-btn a{
    color: white;
    transition: 0.2s;
}
.company-portfolio-btn a:hover{
  color: rgb(208, 208, 208);
}

.company-imgs{
  display: flex;
  padding: 0px 100px;
  gap:5rem;
}

.company-img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-imgs img{
  width:200px;
}

.company-name{
  color:white;
  font-weight: bold;
}

.partners-container{
  padding:100px 12%;
}

.partners-title{
  font-size:50px;
}

.partners-imgs{
  margin-top:70px;
  display: flex;
  gap:10%;
  justify-content: center;
  align-items: center;
}

.partners-imgs img{
  width:300px;
}

.become-partner-container{
  padding:100px 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.become-partner-title{
  font-size: 50px;
}

.become-partner-subtitle {
  font-size: 20px;
  margin: 10px;
}

@media screen and (max-width:900px){
  .about-top-container {
      padding: 200px 12%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 24px;
      gap:4rem;
    }
    .about-item {
      width: 70%;
      display: flex;
      gap: 10px;
    }
  
    .about-item2 {
      width: 70%;
      align-self: flex-end;
      display: flex;
      gap: 10px;
    }

  .partners-title {
      font-size: 30px;
    }

  .partners-imgs{
      margin-top: 40px;
  }
    .partners-imgs img {
      width: 200px;
    }
  

}

@media screen and (max-width:600px){
  .become-partner-title {
      font-size: 30px;
    }
  .become-partner-subtitle{
    font-size: 20px;
  }
}