.coming-soon{
    text-align: center;
    letter-spacing: 0.2rem;
    padding-top:400px;
    font-weight:bolder;
    font-family: 'Red Hat Display', sans-serif;
    font-size:65px;
    color: #9D62CC;
}

@media screen and (max-width: 835px) {
    .coming-soon{
        margin-top: 40%;
        font-size: 50px;
    }
}