.port-container {
  font-family: "Red Hat Display", sans-serif;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  min-height: 100vh;
}

.port-title {
  padding: 200px 150px 50px 150px;
  font-size: 40px;
  align-self: flex-start;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.grid-row {
  display: flex;
  justify-content: space-around;
  gap: 5%;
  width: 80%;
  padding-bottom: 5%;
}

.grid-item {
  flex-basis: 90%; /* Take up 85% of the available space in the row */
  max-width: 500px; /* Limit the width of the grid items */
  height: 250px;
  background-color: red;
  padding: 3%;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s ease;
  border-radius: 3%;
}

.grid-item::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-item:hover::before {
  opacity: 1;
}

.grid-item:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
  .port-title {
    align-self: center;
  }

  .port-container {
    padding: 50px 100px;
  }
}

@media screen and (min-width: 2500px) {
  .grid-item {
    max-width: 750px;
    height: 375px;
  }

  .port-title {
    font-size: 80px;
  }
}
